[Unit]
Description=KryOs timer - runs every 10 seconds

[Timer]
OnStartupSec=10s
OnUnitActiveSec=10s
AccuracySec=1s
Persistent=true
Unit=kryos.service

[Install]
WantedBy=timers.target
